node_modules/

.DS_Store

__pycache__/


# Ignorar archivos .pack
*.pack

# Ignorar archivos .pyc
*.pyc
*.pyc
/covid_api/backend/__pycache__
/virix/lib/python3.12/site-packages
/virix/lib
*.pyc
/covid_api/backend/__pycache__

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg