.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4348be;
  padding: 10px 20px;
  position: fixed; /* Fija el header en la parte superior */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Asegura que el header esté encima de otros elementos */
}

.heatmap-container {
  margin-top: 80px; /* Ajusta este valor según la altura del header */
  padding: 20px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slogan {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em; /* Adjust font size for visibility */
  color: white;
  margin: 0;
  text-align: center;
  font-style: italic; /* Make the text italic */
}

.slogan {
  display: block;
}

@media (max-width: 600px) {
  .slogan {
      display: none;
  }
}

.logo {
  height: 70px; /* Ajustar el tamaño del logo */
  margin-right: 20px;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
}

.bm-burger-bars {
  background: white;
}

.bm-menu {
  background: #4348be;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-menu-item {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.bm-item-list a {
  padding: 0.5em;
  color: white;
  text-decoration: none;
}

.bm-menu-item:hover {
  background-color: #333;
}

.bm-item-list a:hover {
  background-color: #575fcf;
}

.bm-item {
  display: inline-block;
  color: #fff;
  padding: 0.5em;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Default styles: show hamburger menu, hide regular links */
.menu {
  display: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

/* Show hamburger menu and hide regular links when screen width is below 768px */
@media (max-width: 768px) {
  .menu {
      display: block;
  }
  
  .nav-links {
      display: none;
  }
}


.nav-bar {
  display: flex;
  gap: 20px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-bar a:hover {
  text-decoration: underline;
}

/* Estilos adicionales para otras secciones */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

h2 {
  color: #333;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px;
}