.covid-stats-container {
  position: relative;
  background-image: url('./images/travel_4.jpg'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding: 40px 20px;
  margin: 20px 0;
  color: #333; /* Cambiar el color del texto para que sea visible sobre la imagen */
  text-align: center; /* Centrar el texto */
  /* margin-top: 90px; */
  margin-top: 90px;
}

.header-text {
  color: #4348be; /* O cualquier otro color que desees probar */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para mejorar el contraste */
  font-weight: bold;
}

.covid-stats-container h2 {
  font-weight: bold;
  color: #333; /* Si quieres que el texto sea blanco */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Opcional, para darle un poco de sombra */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-input-wrapper {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  padding: 5px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.search-button {
  padding: 10px 20px;
  border: none;
  background-color: #0066ff;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0055cc;
}

.error-message {
  color: red;
  font-size: 14px;
}

/* Fondo blanco semitransparente para la tabla */
.stats-table {
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

/* Fondo semi-transparente para las filas de la tabla */
.stats-table tbody tr {
  background-color: rgba(0, 0, 0, 0.7); /* Negro con 70% de opacidad */
  color: white; /* Texto en blanco para mejor contraste */
}

.stats-table th {
  background-color: rgba(0, 0, 0, 0.9); /* Fondo más oscuro para el encabezado */
  color: white;
}

.stats-table td, .stats-table th {
  padding: 10px;
}

.map-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.info-text {
  color: #333; /* Usa un color oscuro */
  font-weight: bold; /* Opcional, para que el texto sea más visible */
}

.footer {
  background-color: #4348be;
  color: white;
  text-align: center;
  padding: 10px;
  /* position: fixed; */

  width: 100%;
  /* bottom: 0; */
  left: 0;
  position: relative; /* o static */
  bottom: auto;
}